# GitHub Packages registry for @lukeashford scope
@lukeashford:registry=https://npm.pkg.github.com

# You can optionally set an auth token locally (do not commit secrets):
# //npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}
